In [ ]:
import sqlite3

In [ ]:
def connect(dbname):
    conn = sqlite3.connect(dbname)
    conn.execute(" CREATE TABLE IF NOT EXISTS OYO_HOTELS (NAME TEXT, ADDRESS TEXT, PRICE INT, AMENITIES TEXT, RATING TEXT)")
    conn.close()

In [ ]:
def insert_into_table(dbname, values):
    conn = sqlite.connect(dbname)
    insert_sql = "INSERT INTO OYO_HOTELS(NAME, ADDRESS, PRICE, AMENITIES, RATING) VALUES(?, ?, ?, ?, ?)"
    conn.execute(insert_sql, values)
    conn.commit()
    conn.close()

In [ ]:
def get_hotel_info(dnmae):
    conn = sqlite3.connect(dbname)
    
    cur = conn.cursor()
    cur.execute("SELECT * FROM OYO_HOTELS")
    table_data = cur.fetchall()
    
    for record in table_data:
    print(record)